/* reset.css */
html {margin:0;padding:0;border:0;}
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure, dialog, footer, header, hgroup, menu, nav, section {display:block;}
body {line-height:1.5;background:white;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;float:none !important;}
blockquote:before, blockquote:after, q:before, q:after {content:'';}
blockquote, q {quotes:"" "";}
a img {border:none;}
:focus {outline:0;}

/* typography.css */
html {font-size:100.01%;}
body {font-size:87.5%;color:#000;background:#F5F5F5;font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;}
h1, h2, h3, h4, h5, h6 {font-weight:bold;color:#01649D;}
h1 {font-size:2em;margin-bottom:0.75em;}
h2 {font-size:1.5em;line-height:1;margin-bottom:1em;}
h3 {font-size:1.2em;line-height:1.25;margin-bottom:1.25em;}
h4 {font-size:1em;font-weight:bold;margin-bottom:1.5em;}
h5 {font-size:1em;font-weight:bold;}
h6 {font-size:1em;font-weight:bold; color: #000;}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}
p {margin:0 0 1.5em;}
a:focus, a:hover {color:#09f;}
a {color:#06c;text-decoration:underline;}
blockquote {margin:1.5em;color:#666;font-style:italic;}
strong, dfn {font-weight:bold;}
em, dfn {font-style:italic;}
sup, sub {line-height:0;}
abbr, acronym {border-bottom:1px dotted #666;}
address {margin:0 0 1.5em;font-style:italic;}
del {color:#666;}
pre {white-space:pre;}
li ul, li ol {margin:0;}
ul, ol {margin:0 1.5em 1.5em 0;padding-left:1.5em;}
ul {list-style-type:disc;}
ol {list-style-type:decimal;}
dl {margin:0 0 1.5em 0;}
dl dt {font-weight:bold;}
dd {margin-left:1.5em;}
table {width:100%;}
th {font-weight:bold;}
thead th {background:#c3d9ff;}
th, td, caption {padding:4px 10px 4px 5px;}
tfoot {font-style:italic;}
caption {background:#eee;}


/* forms.css */
label {font-weight:bold;}
fieldset {padding:0 1.4em 1.4em 1.4em;margin:0 0 1.5em 0;border:1px solid #ccc;}
legend {font-weight:bold;font-size:1.2em;margin-top:-0.2em;margin-bottom:1em;}
fieldset, #IE8#HACK {padding-top:1.4em;}
legend, #IE8#HACK {margin-top:0;margin-bottom:0;}
input[type=text], input[type=password], input[type=url], input[type=email], input.text, input.title, textarea {background-color:#fff;border:1px solid #bbb;color:#000;}
input[type=text]:focus, input[type=password]:focus, input[type=url]:focus, input[type=email]:focus, input.text:focus, input.title:focus, textarea:focus {border-color:#666;}
select {background-color:#fff;border-width:1px;border-style:solid;}
input[type=text], input[type=password], input[type=url], input[type=email], input.text, input.title, textarea, select {margin:0.5em 0;}
textarea {width:390px;height:250px;padding:5px;}

input.error {
    border: 1px solid red;
}


/* layout */
.container {
  margin: 0 auto;
  width: 940px;
  padding: 0 10px;
}

/* top bar with logo and search */
.top_bar {
  background: #000;
  overflow: hidden;
}

#logo {
  display: block;
  float: left;
  width: 220px;
  margin: .5em 0 0 0;
  color: #FFF;
}

/* header */
.header {
  padding: 0 0 3em 0;
  background: #FFF;
  border-bottom: 1px solid #BCBCBC;
  overflow: hidden;
}

.welcome {
  width: 620px;
  float: right;
  margin-top: 3em;
}

.welcome h1 {
  font-size: 1.71428em;
}

.teaser {
  font-size: 1.28571em;
  margin-bottom: 0;
}

/* main content area */
.main {
  border-top: 1px solid #E2E2E2;
  overflow: hidden;
}

/* content */
.content {
  float: left;
  width: 620px;
  padding: 3em 0 6em 80px;
  background: transparent url(../img/ml_sep_line_vert.png) repeat-y 0 0;
}

/* footer */
.footer {
  padding-top: 1.5em;
  background: transparent url(../img/ml_sep_line.png) repeat-x 0 0;
}

.footer p {
  color: #999;
  font-size: .7857em;
}

/* sidebar */
.aside {
  float: left;
  width: 220px;
  margin-right: 20px;
  padding: 3em 0;
}

/* subnavigation */
.subnav,
.subnav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.subnav h4 {
  font-size: 1em;
  margin-bottom: 0;
}

.subnav li {
  background: transparent url(../img/ml_sep_line.png) repeat-x 0 100%;
}

.subnav li a,
.subnav li a:link,
.subnav li a:visited {
  display: block;
  height: 30px;
  line-height: 30px;
  padding-left: 20px;

  color: #545861;
  font-weight: bold;
  text-decoration: none;

  background: transparent url(../img/ml_subnav_bullet.png) no-repeat 0 -32px;
}

.subnav li a:hover,
.subnav li a:active,
.subnav li a:focus {
  color: #01649D;
  text-decoration: none;
  background-position: 0 11px;
}

.subnav ul li a,
.subnav ul li a:link,
.subnav ul li a:visited {
  font-weight: normal;
  height: 30px;
  line-height: 30px;
  padding-left: 20px;
  background: none;
}

.subnav ul  {
  display: none;
}
.subnav_item_active ul {
  display: block;
}

li.subnav_item_active a,
li.subnav_item_active a:link,
li.subnav_item_active a:visited {
  color: #01649D;
  background-position: 0 11px;
}

.subnav_item_active ul li a,
.subnav_item_active ul li a:link,
.subnav_item_active ul li a:visited {
  color: #01649D;
}

/* pagination */
.pagination {
  overflow: hidden;
  margin-bottom: 3em;
  padding: 1.5em 0;
  border-top: 1px solid #BCBCBC;
  border-bottom: 1px solid #BCBCBC;
}

.pagination span {
  display: block;
  color: #999;
}

.pagination_prev,
.pagination_next {
  width: 40%;
  float: left;
  margin-bottom: 0;
}

.pagination_next {
  text-align: right;
  float: right;
}

.pagination_prev a,
.pagination_next a {
  display: block;
}


/* links */
a,
a:link,
a:visited {
  color: #01649D;
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  color: #01649d;
  text-decoration: underline;
}

::selection {
  background: #A4B243;
  color: #FFF;
}
::-moz-selection {
  background: #A4B243;
  color: #FFF;
}
.btn {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* bare code */

code, tt {
  font-family: "Courier New", Courier, monospace;
  line-height: 2;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
}

/* notes, warnings */
.note, .warning {
  margin-bottom: 1.5em;
  padding: 1em 20px 1em 80px;

  background: #FFF url(../img/ml_icons_note.png) no-repeat 17px 1.5em;
  color: #545861;

  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.warning {
  background-image: url(../img/ml_icons_warning.png);
}


/* buttons */

.btn,
a.btn,
a.btn:link,
a.btn:visited {
  display: inline-block;
  height: 22px;
  line-height: 22px;
  padding: 0 1em;
  background: #01649D url(../img/ml_btn_bg_blue.png) repeat-x 0 0;
  color: #FFF;
  border: 1px solid #004C77;

  text-decoration: none;
  text-shadow: 0px -1px 0 rgba(0,0,0,.8);

  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;


}

a.btn:hover,
a.btn:active,
a.btn:focus {
  background: #1679B2 url(../img/ml_btn_bg_blue_hover.png) repeat-x 0 0;
  text-decoration: none;
}

.pagination a.btn {
	margin-bottom: 3px;
}

div.dataTables_wrapper label {
    font-weight: normal;
}

div.dataTables_wrapper table {
    background-color: white;
}

div.dataTables_wrapper th.sorting_disabled {
    background-color: inherit;
}

div.dataTables_wrapper td.edit,
div.dataTables_wrapper td.delete {
    text-align: right;
}

.css_right {
	float: right;
}

.css_left {
	float: left;
}
